body{
	margin:0px;
	padding:0px;
	background-color:lightgray;
}
h1{
	font-size:100px;
	color:gray;
	text-align:center;
	margin:0px;
	padding:0px;
	margin-top:7%;
	letter-spacing:10px;
}
hr{
	width: 70%;
	margin-auto;
	height:3px;
	background-color:whitesmoke;
	border:none;
}
a{
	text-decoration:none;
	width:100%;
}
button{
	color:green;
	background:transparent;
	border: 1.5px solid whitesmoke;
	width:200px;
	padding:0px 10px;
	font-size: 20px;
	margin-left:43%;
	border-radius:50px;
	cursor:pointer;
}
a :hover{
	background-color:green;
	color:whitesmoke;
	border-radius:50px;
	transition: .8s;
}
.firstblog{
	width:500px;
	box-sizing:border-box;
	border-top:2px solid white;
	border-bottom:5px solid white;
	margin:auto;
	padding:10px;
	margin-top:70px;
	
}
.firstblog img{
	width:200px;
	height:200px;
}
